.contact-section {
    background: white;
}

.contact-panel {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.contact-details {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    text-align: left;
}

.contact-details li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.business-hours {
    margin-top: 30px;
    border-radius: 20px;
    padding: 30px;
    background-color: #d1f7ff;
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

.contact-form button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .contact-panel {
        grid-template-columns: 1fr;
    }
}